$cell_cize: 20px;
$width: 800px;
$height: 600px;

.center-position {
    margin: auto;
    margin-top: 10px;
    display: table;
}

.grid-style {
    position: relative;
    margin: 0 auto;
    width: $width;
    height: $height;
    background-color: #000;
}

.btn {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 10px 12px;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  border: 1px solid rgb(233,233,233);
}